doctype html
html
        style.
            .container {
                background-color: whitesmoke;
            }

            .message {
                text-align: center;
                font-size: 20px;
                color: black;
                margin: auto;
                padding: 10% 10% 0 10%;
            }

            .link {
                font-size: 18px;
                text-align: center;
                margin: auto;
                cursor: pointer;
                padding-bottom: 10%;
            }

            .header {
                height: 40px;
                width: 100%;
                background-color: #26bd62;
            }
body
div.container
        div.header
        div.message Для встановлення нового паролю в своєму аккаунті перейдіть, будь ласка, за посиланням:
        br
        div.link
            a(href=`${requestUrl}`) Встановити пароль
